<h1>new Comment</h1>
<%= form_for([:dashboard, @forum, @forum.chats.build]) do |f| %>
    <p>
        <%= f.label :body%>
        <%= f.text_area(:body)%>
    </p>
    <p>
    <%= f.submit()%>
    </p>
<% end %>