<h1>Welcome to Forum</h1>

<% @forums.each do |forum| %>
    <div class="well">
    <h1><%= forum.user.name %></h1>
    <h3><%= forum.title %></h3>
    <p><%= forum.body %></p>
    </div>
    <% end%>